<%= form_with(model:[book, book_comment]) do |f| %>
  <%= f.text_area :comment ,placeholder: "コメントをここに入力して下さい", size: "100%x6", class: 'form-control book_body' %>
  <div><%= f.submit "送信する" %></div>
<% end %>